body{
    background-image: url("media/cine.jpg");
    background-size: 80%;
    font-family: 'Vollkorn', serif;
}
h3{
    color:white;
}
#main{
    padding-top: 90px;
    height:660px;
    width:450px;
    background-color: black;
    opacity:0.9;
    text-align: center;
    border-radius: 5%;
}
form{
    padding-top: 40px;
}
a , input{
    padding-top: 10px;
    margin-top: 10px;
    

}
.input{
    width:314px;
}
label{
    color:grey;
}
p{
    font-size: 20px;
    padding-top: 100px;
    color:white;
}
#connect{
    background-color:#F2293A;
    color:white;
    height:48px;
    width:314px;
    margin-top: 30px;
    border : none;
    border-radius: 4%;
}
