/*Style Page Video*/

#button{
    background-color: #8C1C25;
    color: white;
    font-family: 'Bree Serif', serif;
}
body{
    font-family: 'Bree Serif', serif;
    background-color: black;
    color:white;

}
footer{
    font-family: 'Bree Serif', serif;

}
/*Style Settings*/

.a{
color: inherit;
}

#button1{
color: #8C1C25;
}

#enter{
    background-color: #59151A;
    color:white; 
}
.card.card-body{
    background-color:#59151A;
    color:white;
}