/*Style Page Video*/

#button{
    background-color: #8C1C25;
    color: white;
    font-family: 'Bree Serif', serif;
}
body{
    font-family: 'Bree Serif', serif;
}
footer{
    font-family: 'Bree Serif', serif;

}
/*Style Settings*/

.a{
color: inherit;
}

#button1{
color: #8C1C25;
}

#submit{
    background-color: #59151A;
    color:white; 
}