
/*CSS PAGE D'ACCEUIL */
body{
    margin: 0;
    font-family: 'Bree Serif', serif;

}

.enter{
    width: 100%;
    height: 100vh;
}



.film{
    height: 163.17px;
    width: 290px;
}


a {
    color: inherit;
}
/*
.footNav{
    background-color: rgb(54, 54, 54);
}
*/
.corps{
    background-color: rgb(128, 0, 0);

}