/*Style Page Video*/

#button{
    background-color: #8C1C25;
    color: white;
    font-family: 'Bree Serif', serif;
}
body{
    font-family: 'Bree Serif', serif;
    background-color: black ;
    color:white ;

}
footer{
    font-family: 'Bree Serif', serif;

}
