
  @mixin rigthR(){
      0% {
          opacity: 1;    
          @include webkits(transform, translateX(-50%) scale(1));
          z-index: 90;
                    }
      30%{
          opacity:1;		            
          @include webkits(transform, translateX(10%) scale(0.94));
          z-index: 50;
      }
      100% {
          opacity: .4;
          @include webkits(transform, translateX(0%) scale(0.9));
          z-index: 0;
      }	
  }
  @mixin rigthL(){
      0% {
          left: 50%;
          opacity: .1;
          @include webkits(transform, translateX(0%) scale(0.9));
          z-index: 0;
      }
      100% {
          left: 50%;
          opacity: .4;
          z-index: 0;
          @include webkits(transform, translateX(-100%) scale(0.9));
      }
  }
  @mixin rightC(){
      0% {
          left: 50%;
          opacity: .4;
          z-index: 0;
          @include webkits(transform, translateX(-100%) scale(0.9));
      }
      20%{
          left: 50%;
          opacity:1;	
          z-index: 0;
          @include webkits(transform, translateX(-110%) scale(0.94));
          z-index: 50;
      }
      100% {
          left: 50%;
          @include webkits(transform, translateX(-50%));
          z-index: 90;
      }
  }
  @mixin leftL(){
      0% {        
          left: 50%;
          opacity: 1;    
          @include webkits(transform, translateX(-50%) scale(1));
          z-index: 90;
      }
      30%{		
          left: 50%;	
          opacity: 1;
          z-index: 0;
          @include webkits(transform, translateX(-110%) scale(0.94));
          z-index: 50;
      }
      100% {
          left: 50%;	
          opacity: .4;
          z-index: 0;
          @include webkits(transform, translateX(-100%) scale(0.9));
      }
  }
  @mixin LeftR(){
      0% {
              left: 50%;
              opacity: .1;
              z-index: 0;
              @include webkits(transform, translateX(-100%) scale(0.9));
              }
              100% {
              left: 50%;
              opacity: .4;
              @include webkits(transform, translateX(0%) scale(0.9));
              z-index: 0;
              }
  }
  @mixin leftC(){
      0% {
                 opacity: .4;
                 @include webkits(transform, translateX(0%) scale(0.9));
                 z-index: 0;
              }
              20%{		
                 opacity: 1;		
                 @include webkits(transform, translateX(10%) scale(0.94));
                 z-index: 0;
              }
              100% {
                  opacity: 1;
                  @include webkits(transform, translateX(-50%));
                  z-index: 90;
              }
  }
  @mixin arrow(){
      cursor: pointer;
      top: 50%;
      width: 5%;
      position: absolute;
      z-index: 201;
  }
  .container_carru{
      background: black;
      position: relative;
      #actions{
          #arrowrigth .arrowrigth{
              @include arrow();
              right: 0;
              @include webkits(transform, rotate(268deg));
          }
          #arrowleft .arrowleft{
              @include arrow();
              left: 0;
              @include webkits(transform, rotate(90deg));
          }
      }/*cierre actions*/
      #items{
      padding: 5%;
      cursor: move;
      z-index: 200;
      overflow: hidden;
      height: 750px;
      position: relative;
      @media only screen and (max-width: 2150px) {
          height: 630px;
      }
      @media only screen and (max-width: 2000px) {
          height: 570px;
      }
      @media only screen and (max-width: 1900px) { 
          height: 540px;
      }
      @media only screen and (max-width: 1780px) { 
          height: 500px;
      }
      @media only screen and (max-width: 1680px) { 
          height: 470px;
      }
      @media only screen and (max-width: 1565px) { 
          height: 420px;
      }
      @media only screen and (max-width: 1430px) { 
          height: 390px;
      }
      @media only screen and (max-width: 1330px) { 
          height: 360px;
      }
      @media only screen and (max-width: 1230px){ 
          height: 330px;
      }
      @media only screen and (max-width: 970px){ 
          height: 310px;
      }
      @media only screen and (max-width: 875px){ 
          height: 270px;
      }
      @media only screen and (max-width: 785px){ 
          height: 240px;
      }
      @media only screen and (max-width: 700px){ 
          height: 235px;
      }
      @media only screen and (max-width: 640px){ 
          height: 150px;	            
      }
      @media only screen and (max-width: 400px){ 
          height: 125px;	            
      }
          #item{
              display: none;
              height: 80%;
              position: absolute;
          }
          .img_left{
              display: block!important;
              left: 50%;
              opacity: .4;
              z-index: 0;
              @include webkits(transform, translateX(-100%) scale(0.9));
          }	      
          .img_rigth {
              display: block!important;
              left: 50%;
              opacity: .4;
              @include webkits(transform, translateX(0%) scale(0.9));
              z-index: 0;
          }
          .img_center{
              display: block!important;
              left: 50%;
              @include webkits(transform, translateX(-50%) scale(1));
              z-index: 90;
          }
          .animaterigthR{
              -webkit-animation-name: rigthR;
              animation-name: rigthR;
              -webkit-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-timing-function: ease;
          }
          @keyframes rigthR {
              @include rigthR();
          }
          @-webkit-keyframes rigthR {
              @include rigthR();
          }
          .animaterigthL{
              -webkit-animation-name: rigthL;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-name: rigthL;
              animation-duration: 1s;
              animation-timing-function: ease;
          }
          @keyframes rigthL {
              @include rigthL();
          }
          @-webkit-keyframes rigthL {
              @include rigthL();
          }
          .animaterigthC{			
              -webkit-animation-name: rigthC;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-name: rigthC;
              animation-duration: 1s;
              animation-timing-function: ease;
          }
          @keyframes rigthC{
              @include rightC();
          }
          @-webkit-keyframes rigthC{
              @include rightC();	
          }
          /*lado izquierdo*/
          .animateleftL{
              -webkit-animation-name: leftL;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-name: leftL;
              animation-duration: 1s;
              animation-timing-function: ease;
          }
          @keyframes leftL {
              @include leftL();
          }
          @-webkit-keyframes leftL {
              @include leftL();	
          }
          .animateleftR{
              -webkit-animation-name: leftR;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-name: leftR;
              animation-duration: 1s;
              animation-timing-function: ease;
          }
          @keyframes leftR {
              @include LeftR();
          }
          @-webkit-keyframes leftR {
              @include LeftR();
          }
          .animateleftC{
              -webkit-animation-name: leftC;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: ease;
              animation-name: leftC;
              animation-duration: 1s;
              animation-timing-function: ease;
          }
              
          @-webkit-keyframes leftC{
              @include leftC();	
          }
              @keyframes leftC{
              @include leftC();
          }
      }/*cierre items*/
  }